Repository jr-leary7/scLANE, pull requests merged in 2024-10, with the labels that each got.

#224 update model-var in gee
  R/biasCorrectGEE.R
  R/testDynamic.R
  R/waldTestGEE.R
  man/bootstrapRandomEffects.Rd
  man/stat_out.Rd
  man/testDynamic.Rd
  man/waldTestGEE.Rd
Labels: GEE

#230 Dev
  DESCRIPTION
  NEWS.md
  R/getResultsDE.R
  R/marge2.R
  R/pullMARGESummary.R
  R/pullNullSummary.R
  R/testDynamic.R
  R/waldTestGEE.R
  man/marge2.Rd
  man/pullMARGESummary.Rd
  man/pullNullSummary.Rd
  man/testDynamic.Rd
  tests/testthat/test_scLANE.R
Labels: bug, enhancement, GEE, CI/CD & distribution

#232 Dev
  .gitignore
  NAMESPACE
  R/RcppExports.R
  R/backward_sel_WIC.R
  R/biasCorrectGEE.R
  R/marge2.R
  R/plotModels.R
  R/score_fun_gee.R
  R/score_fun_glm.R
  R/stat_out.R
  R/stat_out_score_gee_null.R
  R/stat_out_score_glm_null.R
  R/waldTestGEE.R
  man/backward_sel_WIC.Rd
  src/RcppExports.cpp
  src/eigenMapInvert.cpp
  src/eigenMapMatMult.cpp
Labels: enhancement

#234 Dev
  .github/workflows/test-coverage.yaml
  DESCRIPTION
  NAMESPACE
  NEWS.md
  R/backward_sel_WIC.R
  R/biasCorrectGEE.R
  R/marge2.R
  R/pull_sumy.R
  R/score_fun_gee.R
  R/score_fun_glm.R
  R/stat_out.R
  R/stat_out_score_gee_null.R
  R/stat_out_score_glm_null.R
  src/RcppExports.cpp
  src/eigenMapMatMult.cpp
Labels: bug, enhancement

#236 added summary.scLANE() function -- closes #151
  NAMESPACE
  R/summary.R
  man/print.summary.scLANE.Rd
  man/summary.scLANE.Rd
Labels: enhancement, downstream analysis

#237 Dev
  NEWS.md
  tests/testthat/test_scLANE.R
Labels: documentation, CI/CD & distribution

#240 Dev
  NAMESPACE
  R/RcppExports.R
  R/getResultsDE.R
  R/marge2.R
  R/score_fun_gee.R
  R/score_fun_glm.R
  R/stat_out_score_gee_null.R
  R/stat_out_score_glm_null.R
  src/Makevars
  src/Makevars.win
  src/eigenMapInvert.cpp
  src/eigenMapMatMult.cpp
Labels: enhancement, GLM, GEE

#243 Dev
  NAMESPACE
  R/backward_sel_WIC.R
  R/marge2.R
  R/score_fun_gee.R
  R/score_fun_glm.R
  R/stat_out_score_gee_null.R
  tests/testthat/test_scLANE.R
Labels: enhancement, GLM, GEE, CI/CD & distribution

#249 sped up matrix (pseudo)inversion throughout -- related to #241 and #246
  DESCRIPTION
  NAMESPACE
  R/RcppExports.R
  R/biasCorrectGEE.R
  R/marge2.R
  R/plotModels.R
  R/score_fun_gee.R
  R/score_fun_glm.R
  R/stat_out_score_gee_null.R
  R/stat_out_score_glm_null.R
  R/waldTestGEE.R
  src/RcppExports.cpp
  src/eigenMapInvert.cpp
  src/eigenMapMatMult.cpp
  src/eigenMapPseudoInverse.cpp
Labels: enhancement

#251 Dev
  src/Makevars
  src/Makevars.win
Labels: enhancement

#254 Dev
  DESCRIPTION
  NEWS.md
  R/getFittedValues.R
  R/sortObservations.R
  man/getFittedValues.Rd
  man/sortObservations.Rd
Labels: bug, enhancement

#258 Dev
  NAMESPACE
  R/bootstrapRandomEffects.R
  R/fitGLMM.R
  R/getFittedValues.R
  R/marge2.R
  R/testDynamic.R
  man/fitGLMM.Rd
  man/getFittedValues.Rd
  man/marge2.Rd
  man/testDynamic.Rd
  tests/testthat/test_scLANE.R
Labels: enhancement, GEE, GLMM

#259 changed scale.fix to TRUE throughout -- related to #241
  DESCRIPTION
  NEWS.md
  R/backward_sel_WIC.R
  R/marge2.R
  R/score_fun_gee.R
  R/stat_out_score_gee_null.R
  R/testDynamic.R
  man/marge2.Rd
  man/testDynamic.Rd
Labels: enhancement, GEE

#261 Dev
  NAMESPACE
  NEWS.md
  R/fitGLMM.R
  R/marge2.R
  R/score_fun_gee.R
  R/score_fun_glm.R
  R/stat_out_score_gee_null.R
  R/stat_out_score_glm_null.R
  man/fitGLMM.Rd
  man/marge2.Rd
  src/eigenMapInvert.cpp
  src/eigenMapMatMult.cpp
  src/eigenMapPseudoInverse.cpp
Labels: bug, documentation, GLM, GEE

#266 fixed broken score testing implementation -- closes #265
  R/scoreTestGEE.R
  R/testDynamic.R
  man/scoreTestGEE.Rd
  tests/testthat/test_scLANE.R
Labels: bug, GEE

#268 Dev
  NEWS.md
  R/biasCorrectGEE.R
  R/fitGLMM.R
  R/getResultsDE.R
  R/testDynamic.R
  data/scLANE_models.rda
  man/fitGLMM.Rd
  tests/testthat/test_scLANE.R
Labels: bug, documentation, GEE, CI/CD & distribution
